{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4 text-center">Konfigurator Obsady</h2>
    
    {% include "core/partials/form.html" %}

    {% if ranking %}
        <div class="row">
            <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
                <h4>Sugerowane zestawy ({{ ranking|length }}):</h4>
                <span class="text-muted small">Czas obliczeń: {{ process_time }}s</span>
            </div>
            
            {% for item in ranking|slice:":12" %}
                {% include "core/partials/card_obsada.html" with res=item %}
            {% endfor %}
        </div>
    {% elif query_params.volume %}
        <div class="alert alert-warning shadow-sm">
            Brak wyników dla podanych parametrów. Spróbuj zmienić pH lub temperaturę.
        </div>
    {% endif %}
</div>
{% endblock %}